
<nav class="navbar d-flex flex-row grad-inv" >


  <div class= "d-flex container-fluid">



    <a class="navbar-brand" href="#">

      <img src="https://i.ibb.co/SsNCFpy/Captura-de-pantalla-21-9-2024-153944-looka-com.jpg" alt="Bootstrap" width="130" height="34"  class="rounded-pill logo">

    
    </a>







    <form [formGroup]= "myForm">

      <select formControlName="state" class="form-select form-select-sm text-body-tertiary"  id="state" aria-label="Small select example">
        <option value="" disabled selected>Seleccione un estado</option>
        <option *ngFor="let country of countries" [value]="country" >
          {{ country}} <!-- Asegúrate de que 'id' y 'name' sean las propiedades correctas -->
        </option>
      </select>

    </form>

  </div>



  </nav>
