<nav class="navbar grad-inv py-1">
  <div class="container d-flex flex-row flex-md-row align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between">
      <iframe class="logo text-dark"
        src="https://lottie.host/embed/cb10017e-6798-40b2-80cc-48329373d4fc/QOKJqWS6KO.lottie"></iframe>
      <p class="text-logo ">SpaceAirTracker</p>
    </div>

    <p class="w-25 text-center p-text text-wrap p-1 text-light rounded-pill bg-warning mb-1 text-black">{{ today |
      date:'h:mm a z' }}</p>
    <form [formGroup]="myForm"
      class="d-flex flex-column w-100 flex-md-row  text-center align-items-center gap-2 mt-2 mb-2  mt-md-2">
      <!-- Select de estado -->

      <select formControlName="state" class="form-select form-select-sm" id="state" aria-label="Small select example">
        <option value="" disabled selected>Seleccione un estado</option>
        <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option>
      </select>

      <!-- Select de idioma -->
      <select id="language" class="form-select form-select-sm" formControlName="language" (change)="onLanguageChange()">
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="fr">Francés</option>
        <option value="ca">Catalá</option>
        <option value="zh">Chino</option>
      </select>
    </form>
  </div>
</nav>
