.grad-inv {

  background: rgb(1, 24, 32);
  background: linear-gradient(177deg, rgb(250, 7, 7) 0%, rgba(248, 175, 136, 0.956) 100%);
}



.logo {
  padding: 1px;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  filter: drop-shadow( 2px, 4px red)
}

.text-center{
  font-size: 0.6rem;
}

.text-logo{
  font-size: 1.8rem;
  margin-left: 2px;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
  margin-top: 2px;
}

