.parrafo {
  position: absolute;
  width: 23rem;


  z-index: 100;
  background-color: rgba(251, 253, 253, 0.15);
  border: 1px solid rgba(9, 6, 6, 0.2); /* Borde semitransparente */
  backdrop-filter: blur(11px);
  overflow-x: hidden;
  scroll-behavior: hidden;
  backdrop-filter: blur(15px);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(172, 172, 172, 0.758);

}
.logo{
  box-shadow: 2px 3px 4px rgb(111, 110, 110);
}


.flecha {
  font-size: 2rem;
  font-weight: bolder;
}

@media (min-width:320px) {
  .parrafo {
    width:22.1rem;

  }
}


@media (min-width:481px) {
  .parrafo {
    width:18rem;

  }
}


@media(min-width: 641px) {
  .parrafo {
    width:24rem;

    ;
  }
}

@media(min-width: 1025px) {
  .parrafo {
    width:24rem;

  }
}
