.parrafo {
  position: absolute;
  width: 23rem;
  height: 80%;
  z-index: 100;
  background-color: rgba(251, 253, 253, 0.15);
  border: 1px solid rgba(9, 6, 6, 0.2); /* Borde semitransparente */
  backdrop-filter: blur(11px);
  overflow-x: hidden;
  backdrop-filter: blur(15px);
  border-radius: 12px;

}


.flecha {
  font-size: 2rem;
  font-weight: bolder;
}
